
.password-container {
  width: 400px;
  margin: 100px auto;
  background-color: #1d1f24;
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.nav-button {
  background-color: #2c2f36;
  border: none;
  color: #90f7ec;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  cursor: pointer;
}

.password-title {
  color: #a4ffaf;
  font-size: 28px;
  font-weight: 600;
}

.password-content {
  text-align: center;
}

.password-instruction {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ffffff
}

.password-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #111118;
  padding: 12px 20px;
  border-radius: 16px;
  margin-bottom: 30px;
}

.lock-icon {
  color: #a4ffaf;
  margin-right: 12px;
  font-size: 20px;
}

.password-input {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  flex: 1;
}

.password-button {
  background-color: #a4ffaf;
  color: #ffffff;
  border: none;
  padding: 14px 0;
  width: 100%;
  border-radius: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.password-button:hover {
  background-color: #90f7ec;
}