.or-divider-wrapper {
  position: relative;
  width: 266.768px;
  height: 21px;
  margin: 20.202px 0 0 106.616px;
  z-index: 18;
}

.or-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 47.32%;
  color: #f9f9f9;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}

.left-divider {
  position: absolute;
  width: 41.25%;
  height: 1px;
  top: 46.6%;
  left: -0.09%;
  background: url(https://static.codia.ai/custom_image/2025-06-18/071138/left-divider.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 17;
}

.right-divider {
  position: absolute;
  width: 41.25%;
  height: 1px;
  top: 46.6%;
  left: 58.84%;
  background: url(https://static.codia.ai/custom_image/2025-06-18/071138/right-divider.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
